[2017-09-01 13:21] tbolon opened #1 "Migrate to asp.net core 2.0"
Hi,

There was significant changes in the [asp.net core 2.0 authentication](https://github.com/aspnet/Announcements/issues/262) components.

Do you plan to update this sample to this new version ?

[2017-09-01 13:21] tbolon opened #2 "Migrate to Azure AD v2"
This sample still use the Azure AD v1 endpoint. Do you plan to migrate to the new v2.0 endpoint ?

[2017-09-01 16:08] jamescro commented on #2
This is something that we would like to do. I believe that Mark ran into some conflicts between the MSAL library (which uses the v2.0 endpoint) and ASP.NET Core dependencies. Is that correct, Mark?

[2017-09-01 16:09] jamescro commented on #1
The work to do this isn't currently scheduled, but it is something that we will do when we have the appropriate resources.

[2017-09-01 17:15] mark-szabo commented on #2
Correct. There was conflict in some Odin packages. It could be solved in netcore2.0.

[2017-10-06 22:02] dotnetgator opened #4 "The cached _graphClient instance in GraphSDKHelper is not used"
The _graphClient field in GraphSDK helper appears to be there in order to cache the reference between executions of the GetAuthenticatedClient method. Except that the private field is only ever referenced from this function, and is generated new for every single function call. Either the call needs to be changed to check it against null and then create the instance if null, or the variable can be

[2017-10-06 22:13] jamescro commented on #4
Thanks for spotting this. That field is a vestige of an earlier version of the sample, and we're no longer following that pattern. We'll remove it in the next week or two.

[2017-10-09 16:40] alvipeo commented on #1
hey guys! can you update this sample to ASP.NET Core 2.0???? WE REALLY NEED It. Thank you!

[2017-10-09 21:23] mark-szabo commented on #1
Hi @alvipeo I'll work on this in the next few weeks. There was some compatibility issue with netcore1.1 and MSAL, but now we can try to solve that too with netcore2.0. :)

[2017-10-22 20:27] mark-szabo commented on #1
Hi everybody, sample updated to ASP.NET Core 2.0. If you find a bug or have some suggestions, please keep us informed! :)
Have a nice weekend!

[2017-10-22 20:27] #1 closed

[2017-10-23 15:33] jamescro commented on #1
Thanks!

[2017-10-23 21:46] mark-szabo commented on #2
Hi everybody, sample updated to implement MSAL (Azure AD v2.0). If you find a bug or have some suggestions, please keep us informed! :)
Have a nice week!

[2017-10-23 21:46] #2 closed

[2017-10-23 21:48] mark-szabo commented on #4
Hi @dotnetgator, in theory this should have fixed too with the new MSAL implementation. Please have a look and reopen if you find the issue valid.

[2017-10-23 21:48] #4 closed

[2017-11-02 08:46] aredfox opened #6 "The reply address does not match the reply addresses configured for the application"
I have configured an application via the portal (converged). I was running under a differen port though, so when settup up the URLS in the app registrations I changed them to match my port number...

Now I'm receiving this error after the flow is trying to connect back to my application. How can I debug this, or how do I know what is happening?

[code]
![azureadconvergederror](https://user-images.

[2017-11-02 09:30] mark-szabo commented on #6
Hi @aredfox,
when you create your app on https://apps.dev.microsoft.com, you have to update the reply URL, if you change it in the code. Just modify the port in the Redirect URLs field, or add a new line and enter the full URL.
![image](https://user-images.githubusercontent.com/3098994/32318710-54760fe2-bfb8-11e7-8125-fa87e171896c.png)

Hope it helps! :) Feel free to leave a comment if you have an

[2017-11-02 09:33] mark-szabo commented on #6
Ohh, I see, I've misunderstand your question! :)
So basically the URL on the portal needs to match the URL in [appsettings.json](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/master/MicrosoftGraphAspNetCoreConnectSample/appsettings.json#L5). Please update the `BaseUrl` field and it should work!

[2017-11-03 11:06] mark-szabo commented on #6
Feel free to reopen if you were not able to solve the problem or have more questions! :)

[2017-11-03 11:06] #6 closed

[2017-11-21 12:09] aherrick opened #7 "Auto "Sign In" User without Token"
In testing, every time I reload the App in Visual Studio I'm redirected back to the MSFT Sign In dialog. My account is already "Signed In" so all I'm doing is having to click my Account which redirects me back to the App.

I get that is due to not having a token in memory, however is there anyway to auto login so I don't have to "click through" ?

[2017-11-21 12:42] mark-szabo commented on #7
Hi @aherrick, sure, there's a way to solve this: You need to use a persistent storage for the token cache (for example a database). When you restart the server (clear the cache) the user needs to get a new token and by design this is done by making a request to AzureAD. Having a persistent storage for tokens will prevent this, as you will still have the token after restarting the server.
Let us kn

[2017-11-21 13:04] aherrick commented on #7
Hi Mark, Thanks! Makes sense. Additionally, how long does that token last for? Is there a good way to check?

Also, image the scenario where I'm doing AJAX calls to my server to retrieve Graph data. Say I can't find a token (or assuming the token is expired) I notice the code sample will force a challenge `httpContext.ChallengeAsync` Obviously this wouldn't provide desired results in an AJAX call.

[2017-11-21 22:36] mark-szabo commented on #7
Very good question! I have no official info about this, @jamescro can you please help us?
Meanwhile I did a small test:
If you add a breakpoint [here](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/64c6ce20946daba6cea913974458064a6de8dadb/MicrosoftGraphAspNetCoreConnectSample/Helpers/GraphAuthProvider.cs#L63), you will get your access token. You can test the token with this site

[2017-11-21 23:13] jamescro commented on #7
The answer to this question -- how long does an access token last? -- doesn't have a simple answer. You can refer to [this document](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes) for authoritative guidance on access token lifetimes.

[2017-11-21 23:25] aherrick commented on #7
Thanks for the answers!

So the solution to refreshing/requesting a new token via AJAX is to just use JS Graph SDK? Seems there has to be a better way. I'm not necessarily writing a Single Page app, I just need to have confidence when the AJAX request for data happens I have a valid token to hit the Graph.

[2017-11-21 23:38] mark-szabo commented on #7
It was just an idea. How do you get the access token for the first time? In theory if the token is missing or expired, you should start over the login pipeline to get a new token (easier if you have a refresh token).

[2017-11-22 00:02] aherrick commented on #7
The first time is no problem as page loads the Controller/Action through the ASP.NET Core pipeline and kicks them to MSFT Auth if no token. I guess in theory this is only a problem if the user were to leave their page/browser up for more than 13 hours (per your token life) and try to preform an AJAX data request.

Could it be possible to return the authentication URL in the JSON result, then kick

[2017-11-22 06:52] mark-szabo commented on #7
I think you have a sign-in action somewhere. I’m not a pro of AD sign-in pipeline, but I’d just return an error, that the token is not valid and then AJAX can redirect to the sign-in action to get a new token.

[2017-11-22 12:42] aherrick commented on #7
This makes sense! Just simply have an Action that was responsible for doing the call to Challenge.

Thanks for the help!

[2017-11-22 12:42] #7 closed

[2017-11-22 12:49] mark-szabo commented on #7
I'm glad that we were able to help! Please don't hesitate to contact us if you have any other questions!

[2017-11-25 21:33] aherrick opened #8 "Example Showing Azure AD Only Application"
Are there any examples showing similar Auth/Graph access with Core and Azure AD Only app?

In my case I only want to login users for a given Work tenant, and don't care about the app being Converged.

Or what is the best way to restrict Auth to a given tenant? Would I still want to create a Converged App?

Thanks!

[2017-11-26 01:39] mark-szabo commented on #8
Hi @aherrick,
With the new MSAL there is no option to restrict an app to a single tenant when creating the app.
If you'd like to restrict login for given tenant(s), you can add those [here](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/64c6ce20946daba6cea913974458064a6de8dadb/MicrosoftGraphAspNetCoreConnectSample/Extensions/AzureAdAuthenticationBuilderExtensions.cs#L56).

You wo

[2017-11-27 16:00] aherrick commented on #8
hey @mark-szabo Thanks for the answer!

I guess what I'm getting at is I don't want in available for personal accounts at all. I don't like how when I got to /Signin if I'm already authenticated I still have to click through with my Work account.

![2017-11-27_10-57-21](https://user-images.githubusercontent.com/586671/33275903-f02d5348-d361-11e7-92e5-5b7aa73d9f11.png)

Should I really just be crea

[2017-11-27 16:24] jamescro commented on #8
If you don't want to limit your user base to just work/school accounts, you'll want to use the ADAL library instead of MSAL. Here is an ASP.NET Core example that uses ADAL:  https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnetcore
You can see a number of ASP.NET core samples that demonstrate various authentication scenarios here:

https://github.com/azure-sam

[2017-11-27 17:27] mark-szabo commented on #8
By the way, here is an earlier version of this sample using ADAL: https://github.com/microsoftgraph/aspnetcore-connect-sample/tree/6d2fcf63eefe4b61d769e4ce93050de736e0ab44

[2017-11-27 17:51] mark-szabo commented on #8
Before switching back to ADAL, I'd try this:
**You can set the `login_hint ` param to the user email address and it should redirect automatically as described in the [docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oidc#send-the-sign-in-request):**

[2017-11-27 20:18] aherrick commented on #8
@mark-szabo thanks for the latest thoughts!

So I believe I am implementing this correctly.. I've tried both login_hint and domain_hint. However my Work tenant is not automatically selected. I'm still presented with both Work/Personal accounts.

Any thoughts?

                    OnRedirectToIdentityProvider = context =>
                    {
                        // var user = System.Security.C

[2017-11-27 21:47] mark-szabo commented on #8
Yes, you are doing it right as I see. I've just asked it in some internal groups. If you can wait some days, I'll get back with an answer as soon as I get something.

[2017-11-27 21:50] aherrick commented on #8
Can do - thanks again! 👍

[2017-12-01 22:34] mark-szabo commented on #8
Hi @aherrick, it seems this is a bug in MSAL for .NET. Can you please raise an issues here? https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues
Thanks!

[2017-12-06 08:03] mark-szabo commented on #8
@aherrick we just found some (maybe) useful info for you:
http://www.cloudidentity.com/blog/2016/07/25/controlling-a-web-apps-session-duration-2/

Can you please check it out?

[2017-12-06 10:59] Sharor opened #9 "Issues porting the sample logic to a fresh (razor) application"
Hello,

Really cool sample first of all - it works quite well when I just clone and run it, and since I was looking to help automate some of my emailing it's exactly what I was looking for 🙂

Your [contributing section](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/master/CONTRIBUTING.md#how-to-use-markdown-to-format-your-topic) article link leads nowhere by the way, so sorry if

[2017-12-06 21:14] Sharor commented on #9
Update:

I recreated the behaviour by slowly adding bits and pieces to the dotnet core sample application (this repository).

doing:
[code]

Has the effect I saw, where you "login" but nothing happens. I tried outcommenting the lines dealing with EntityFramework in my Razor app, but that did not remove the problem, so there might be more to it. 😕

[2017-12-15 13:52] Sharor commented on #9
So I spent a couple of days reading up on MSAL and trying different solutions. I found out the problem comes with some under the hood middleware I cannot quite see my way out of.

So what happens is as follows:
- adding identity like so:
[code]
causes there to be a mismatch between the openidconnect authentication and identity somehow, so even after logging in the ```User.Identity.IsAuthenticated`

[2017-12-15 17:43] Sharor commented on #9
Had a small breakthrough, by dumping my entity database - oidc apparantly does not do very well if there is already a user defined in it, which shares email with the login. Still have not been able to port it to razor, however - it seems like adding the razor pages bit to ```services.AddMvc()...<razorpages config> ``` might be what's causing the problem. 😕

[2017-12-15 18:40] Sharor commented on #9
No, it is not caused by adding razor pages.

Creating a brand new project in Visual Studio, selecting authentication with individual accounts, and then migrating this example still has the same "log in but not logged in" issue. Which is interesting. I debugged it all the way past the ExternalLoginCallback method, which correctly authenticates, registers the user in the database and then.. crash.

[2017-12-21 15:24] mark-szabo commented on #8
Closing due to inactivity. Please reopen if you have questions!

[2017-12-21 15:24] #8 closed

[2017-12-21 15:34] mark-szabo commented on #9
Hi @Sharor, I'm so sorry for the delay. The thing is, that I haven't used this sample with EntityFramework yet. But it is in plan on one of my apps, so in the coming weeks, I'll have a look on it. If it's ok for you, I'll report my findings here.
Thanks for reporting it and have a Merry Christmas! 🐱‍💻🎄

[2017-12-22 11:47] Sharor commented on #9
@mark-szabo it's all good, I can relate to how busy it is up to christmas 😉

I really appreciate your work here though, and I've been using your example without entity to get some of my logic running. It's been a great help.  I have successfully integrated with my work calendar, and it's already making my life easier 😄 I was just really hoping to expand functionality to include the entity things b

[2018-01-27 22:29] mark-szabo commented on #9
@Sharor so as promised I was tinkering with the app that uses EF, aspnetcore2.0, MSAL and Graph.
I was able to get it working, but instead of
[code]
I've used
[code]

For me `User.Identity.IsAuthenticated` always shows the correct authentication state.

Let me know what you think! 😊😉

[2018-01-28 10:40] Sharor commented on #9
@mark-szabo - awesome dude 😄 I'll have a look when I have time next! I'll do my best to make some time this week 😉

[2018-02-08 17:16] twilliamsgsnetx opened #10 "How to add admin consent?"
I have tried so many things to try and modify this to acquire a token on behalf of the client only, and use Application level permissions to read mail. Every time I get Unauthorized access errors.

How do I implement admin consent into the flow for this?

[2018-02-08 17:34] mark-szabo commented on #10
Hi @twilliamsgsnetx, to clarify: This sample is demonstrating the use of delegate-only permissions. Do you want to modify this app to use application permissions and request admin consent if not yet requested?

Can you please paste your current code what you are using now?

[2018-02-08 19:25] Cowlephant commented on #10
I'm looking into insight on how to modify this application to use Application level permissions, so that it can accomplish both.. It wasn't until I started with it that I saw that it was for delegate-only permissions.

I can access profile information of the logged in user, which is great, but I cannot turn around and access  the email of a user created specifically for my application, to manage t

[2018-02-08 19:47] andrewbadera commented on #10
Have you made your one-time call to the admin consent endpoint, as admin?

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes#using-the-admin-consent-endpoint

With your app ID as client_id, and I don't know that the redirect really
matters here:
https://login.microsoftonline.com/common/adminconsent?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&state=12345&

[2018-02-08 20:52] Cowlephant commented on #10
Yes, I have done that.

Then I figured, okay, it's because I'm using `AcquireTokenByAuthorizationCodeAsync` instead of `AcquireTokenForClientAsync`

But I never can successfully call `AcquireTokenForClientAsync` because it throws errors for any scopes I try to use.

[code]

[2018-02-08 21:34] mark-szabo commented on #10
Maybe you can have a look on this sample, but keep in mind, that this is ADAL (v1), not MSAL (v2):
https://github.com/microsoftgraph/aspnetcore-apponlytoken-webhooks-sample

[2018-02-08 21:54] Cowlephant commented on #10
I think I just solved it for myself. I tried all scope variations I could think of, except for `https://graph.microsoft.com/.default`

That was the missing link! I can now pull mail from other users who haven't been authenticated. I don't even need to perform admin consent first, it seems? Weird... but it's working now.

Now I just need to neatly encapsulate and clean up this code.

[code]

[2018-02-08 21:57] mark-szabo commented on #10
Sure you needed, but you have already given that by calling the adminconsent endpoint before. :) Good to know that this was solved! 👍

[2018-02-08 21:58] Cowlephant commented on #10
Yeah you're probably right on that. Where do I go to manage all those consents? Microsoft seems to have like 25 disjointed account management pages... spread across organizational and personal accounts. I've tried looking in portal.azure.com and apps.dev.microsoft.com

[2018-02-08 22:07] mark-szabo commented on #10
You mean consent of the users in your AD? That can be checked on Azure Portal below your AD. Basically there are two, the old one for ADAL (on Azure portal) and the new one for MSAL (https://apps.dev.microsoft.com/), or? :)

[2018-02-13 19:11] mark-szabo commented on #10
Closing question due to inactivity. Please reopen if you have anything to add!

[2018-02-13 19:11] #10 closed

[2018-02-13 19:12] mark-szabo commented on #9
hi @Sharor, did you have time to check out the above mentioned thing?
Thanks! :)

[2018-02-14 08:00] Sharor commented on #9
@mark-szabo sorry I totally forgot to answer, moved house and it's just been a lot to juggle in my head - yes I did test it, and it works great!

I'll be closing the issue, thank you so much for your help - really good work on all of it 😄

[2018-02-14 08:00] #9 closed

[2018-02-14 08:13] mark-szabo commented on #9
@Sharor awesome! Glad that we were able to help! :)
Thank you for using Microsoft Graph, and feel free to contact us if you have any problem!

[2018-03-21 14:18] caclement opened #11 "Access user groups"
How could I get access to user groups and do some proper authorisation with this sample app ?

[2018-03-21 14:24] mark-szabo commented on #11
Hi @caclement,
Here's the documentation of the different types of groups in the Microsoft ecosystem: https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/groups-overview

Regarding authorization: You need to authenticate the users one by one, not by groups. After authentication you can check wether the user is in the group and you can do the authorization depending on this

[2018-03-21 15:45] caclement commented on #11
Thans for the link, is it possible to provide a code sample to fetch a user security groups ?

Also with a simple code sample for authorisation. I think this would be a more "real life" example as users are part of certain security groups and they can or cannot access to some ressource in the app.

[2018-04-04 06:54] gerritjb opened #12 "The Sample works fine with Work or School Account. WHat goes wrong with personal account"
When singing in with personal account, and then want to send a mail I get the error page. Even in development mode I don't the more debug info on what goes wrong.
Why do I get the /home/error page instead of the Development Error handler. And why can I not send mail with the sample from a personal account?

[2018-04-04 07:01] mark-szabo commented on #12
Thanks for the feedback gerritjb! Will look into this soon. It can be that the email sending endpoint does not support MSA. Or only the v2.0 endpoint supports it.

[2018-04-07 16:25] mark-szabo commented on #11
Hi @caclement,
the purpose of this repo is to demonstrate how to connect to Microsoft Graph from ASP.NET Core. Adding an extra security group authorization step here would be confusing, but we added this to our list and when we will have the capacity we'll check where would this fit perfectly!

Thanks,
Mark

[2018-04-07 16:25] #11 closed

[2018-04-07 18:26] mark-szabo commented on #12
Yes, the problem is with the endpoint as I thought. When sending an email the user profile picture is attached. Therefore it is needed to be downloaded from Graph first, but it will throw an error saying operation is not supported as getting user picture with an MSA account is only supported with the v2.0 endpoint. Working on a fix now.

[2018-04-07 18:31] mark-szabo commented on #12
Issue should be solved. Let me know if it's working for you and we can close the issue! :)

[2018-04-08 04:59] gerritjb commented on #12
Issue can be closed ;-) Your answer helpt me where to look. ThankS!

[2018-04-08 09:09] mark-szabo commented on #12
Great, check out the commit linked above (a9a7fea) with my fix if you need help with the implementation :)

[2018-04-08 09:09] #12 closed

[2018-04-08 09:46] gerritjb commented on #12
Nice! With the conditional beta endpoint!

________________________________
From: Mark Szabo <notifications@github.com>
Sent: Sunday, April 8, 2018 11:09:22 AM
To: microsoftgraph/aspnetcore-connect-sample
Cc: Gerrit Jan Bloem; Author
Subject: Re: [microsoftgraph/aspnetcore-connect-sample] The Sample works fine with Work or School Account. WHat goes wrong with personal account (#12)

Great, check o

[2018-04-11 07:01] suren4a0 opened #13 "GetPhoto works fine for user with global admin role but fails for normal users."
When I tried to get profile picture for the users, it works fine with the user who is Global admin. But it throws error for other users who are non admins.

Code: UnknownError

Inner error

StatusCode:Unauthorized

[2018-04-11 09:51] mark-szabo commented on #13
Hi @suren4a0
You are using scopes that require admin consent. Exactly `Directory.AccessAsUser.All` and `Directory.ReadWrite.All`. You won't be able to use these scopes without an admin pre-approveing.
Learn more about the scopes here: https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference

[2018-04-11 10:57] surendrauppari commented on #13
hi @mark-szabo

I just added the scopes  **User.Read User.ReadBasic.All** which doesn't require admin consent. But still I am facing the same issue.

acces token:  eyJ0eXAiOiJKV1QiLCJub25jZSI6IkFRQUJBQUFBQUFCSGg0a21TX2FLVDVYcmp6eFJBdEh6S0xEd1JhSXpCMWN4b2c1SnVoWkZSR25UaTBTSmhlSjNrbEF2SldseVNaY3lodlJXY1ZUSjRoY1hSdHJGdVh1Q05WWDdEWHNOa3J5dV9uWVFWMGUtQmlBQSIsImFsZyI6IlJTMjU2IiwieDV0IjoiRlNpbXVGckZOb0Mw

[2018-04-12 08:05] mark-szabo commented on #13
Please make sure you set only non-admin scopes on the app registration portal too. More info in the readme: https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/master/README.md#register-the-app

[2018-04-12 12:53] surendrauppari commented on #13
hi @mark-szabo ,

I tried with only non-admin scopes mapped. But no luck.

Thanks,
Surendra

[2018-05-09 08:49] Mrcl1450 opened #14 "TokenNotFound"
Since yesterday I can only login 1 time after restart the computer. If I restart the running project I get this error. http://prntscr.com/jfm64g
(Maybe only when expire)
"Maybe the server was restarted." Well it was but where's my new login page?

Any ideas of what may be causing it?

[2018-06-08 05:49] Manik92 commented on #10
Hi,
I just want to know whether admin_consent can be used by default for admin and normal member users.
Is there is a check once the admin signed using admin_consent the same will check for the members with admin consent url

[2018-06-08 13:22] mark-szabo commented on #10
Hi @Manik92
admin_consent is a separate URL only to used once by the admin when giving consent. The check is whether users can sign in. If they get an error message saying an admin needs to give consent first, then it wasn't yet granted, but if they can sign in successfully, it was granted.

[2018-06-08 17:39] ssshake commented on #13
umm why does azure say it doesnt require admin though? This has been causing us great problems just trying to get /memberof so the user can get a list of group ids they belong too.

Seems weird to me to require admin consent to let me see what groups I'm a member of.

![image](https://user-images.githubusercontent.com/1675868/41172264-51ad0a4e-6b21-11e8-8002-7ed97fe777d6.png)

[2018-06-10 15:03] mark-szabo commented on #13
@ssshake It DOES NOT require admin consent to get the list of groups the *signed-in user* belongs to: `https://graph.microsoft.com/v1.0/me/memberOf`.
But it DOES require admin consent to get anybody else's list of groups: `https://graph.microsoft.com/v1.0/{user-id}/memberOf`.

You can read more about User permissions: https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference#

[2018-06-10 15:24] mark-szabo commented on #14
@Mrcl1450 sorry for not getting back to you earlier!
Let me understand your problem!

When you restart the running app (restart the webserver, restart your computer, etc.) the server's working memory gets deleted. The users' authentication tokens are stored in this memory. If the user's browser thinks he is still logged in (the token in the user's browser is not yet expired) it won't want to re-au

[2018-06-11 05:13] Manik92 commented on #10
Thanks.

But I have one clarification.

Like user1 "John" is an admin user gives an access using admin_consent in  oauth url. Then user (Stark) from the member of "John" (same tenant )is trying to  login using admin_consent in oauth url, Whether stark can sign in successfully.

[2018-06-11 08:28] Mrcl1450 commented on #14
Hey, thanks for answering.
That's exacly what happens but it doesn't redirect to the login page, this occur only on debug even disabling the exceptions.

Basically I mean what you said, only redirects after restart, after stopping debugging/start again it throws the error.
The only change I've done in your code was
options.Authority = $"{_azureOptions.Instance}{_azureOptions.TenantId}/v2.0";

Mayb

[2018-06-11 08:38] mark-szabo commented on #14
Ok, I'll have a look on this on the weekend. What you need to know is, that 1. this server restarting thing should not happen in production, so this is more like a dev-only problem and 2. It's recommended to use some kind of persistent storage for storing the auth tokens (like an SQL server).

[2018-06-11 13:55] ssshake commented on #13
@mark-szabo that doesnt appear to be the case, the user get's a 403 attempting to get /me/memberOf. There doesn't appear to be any permission set that I can see that allows /me/memberOf WITHOUT requiring admin consent.

In my screenshot it says requires admin "NO" but that is not what is experienced. In the document you linked, it says admin consent is required so this disagrees with whats in azur

[2018-06-11 14:18] ssshake commented on #13
To be clear, `https://graph.microsoft.com/v1.0/me/memberOf` does appear to require a permission such as Directory.AccessAsUser.All.

Without that or a similar permission (all which seem to require admin consent) it 403's. I wish what you said is true that you do not require admin consent to get your own list of groups but it appears that is certainly the case. This is bad for our app because now w

[2018-06-13 11:43] KaiserSozei87 opened #15 "User.Identity.Name"
Any idea why User.Identity.Name would be null? I was previously using Azure AD only authentication out of the box from Microsoft. I have no switched over to using this sample with the Graph API and the /common/v2.0 library. Feel like i've missed something somewhere but not sure where to start?

[2018-06-19 12:04] jasonjoh commented on #13
We seem to be talking about two different things here.

- @suren4a0 is reporting trouble with GET /me/photo/$value
- @ssshake is reporting trouble with GET /me/memberOf

So first, @suren4a0: Please get a network trace. You should have no trouble getting a user's profile photo with User.ReadBasic.All, so there must be some subtle nuance we're not seeing here.

@ssshake You are correct that getting

[2018-06-19 14:15] ssshake commented on #13
sorry for hijacking the ticket. If you have an internal process for raising this issue that would be appreciated. Otherwise I've moved on by requiring the admin consented permissions.

[2018-07-10 23:32] timmynz commented on #14
Hi Mark,

I am also experiencing the same issue and it is something that would like to resolve. I understand the cause of the issue and how it is more likely to happen in development but wouldn't it also happen after a publish to azure?

I would be happy if it would just redirect to login again when the error happens. Is it this line that is meant to be responsible for this?

 await httpContext.Ch

[2018-07-11 22:22] mark-szabo commented on #14
Hi @timmynz
I've just re-checked and I was right, this was fixed in 41e6cfeae6d6fb0035a188f066d56de1ad697841
It should catch this exception and re-authenticate (redirect to login page).

[code]

You can use an SQL server or basically any other database as a persistent storage. Just store the tokens in a new table (or collection if you are using some kind of NoSQL).

I'll close this now, but please

[2018-07-11 22:22] #14 closed

[2018-07-11 22:25] mark-szabo commented on #13
I'll close this for now. Please reopen if you feel your question wasn't answered or you need more assistance! :)

[2018-07-13 14:31] ssshake commented on #13
My question was not answered if no action was taken to correct the API so that it does what the docs say, or update the documents to reflect how the API currently behaves.

[2018-07-15 16:14] #15 closed

[2018-07-15 16:15] mark-szabo commented on #15
Thanks, fixed.

More info: https://cerkit.com/2017/07/25/asp-net-core-jwt-tokens-and-user-identity-name-property/

[2018-07-15 19:18] KaiserSozei87 commented on #15
Nice fix. Thanks

[2018-07-18 12:53] hernan-almeida opened #16 "Client that uses custom API and Graph"
For a client (web) application that needs to make requests to Graph and another API (e.g. myapi.azurewebsites.net), what is the best practice?

Should a client acquire two separate access tokens? One with the Graph audience and one for myapi.azurewebsites.net? Or, is there a way to generate a token with an audience of myapi.azurewebsites.net that has scopes for Graph?

[2018-07-22 16:45] mark-szabo commented on #16
Hi @hernan-almeida
First question: is the API hosted on myapi.azurewebsites.net written by you? I would think of using the auth token used by Graph to authenticate with the API using Azure AD.

[2018-07-24 18:42] hernan-almeida commented on #16
Hey @mark-szabo it is, but the token that comes back from Graph has an audience for graph.microsoft.com. Since my API is not open to everyone, wouldn't trusting graph.microsoft.com make it so that anyone with that scope can authenticate to my API? I believe the OAUTH2 spec has support for multi audience "aud" field but I cant seem to figure out if this is supported in AAD and Graph.

Since the aud

[2018-07-24 19:17] mark-szabo commented on #16
thanks for the info! To be honest I'm not a pro on the token side, so I'll ask one of my peers in the Microsoft Graph team. @jasonjoh can you please have a look on this question? :)

[2018-07-27 14:56] mark-szabo commented on #16
@hernan-almeida by a coincidence, I'm working on a frontend webapp right now where I'm calling an ASP.NET Core Web API. Have a look on this tutorial, I think that will help!
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2

[2018-08-01 13:38] hernan-almeida commented on #16
@mark-szabo that is what I'm doing now to call my API but the questions still remains... what if your frontend is calling both a .Net Core API and also Graph. Can a single jwt be used to authenticate to both services?

[2018-08-01 14:09] mark-szabo commented on #16
Yes, in theory yes. You are validating the token you got back from AD. Keep in mind there is an `id_token` (used to authenticate to AD and your API) and an `authorization_code` (for Microsoft Graph).

[2018-08-06 14:26] hernan-almeida commented on #16
"In theory yes" - as long as Graph can validate a jwt with multi audience field. The web app gets an `id_token` from AD when the user is authenticated but I do not authenticate to the API with the `id_token`. The API works similar to Graph in that it also looks for an `authorization_code` with the proper audience and scope/s.

Currently I have to take my `id_token` from the auth flow and turn that

[2018-08-06 19:52] mark-szabo commented on #16
Yeah, if you are using an `authorization_code` to access your api, you cannot use the same as you are using for Graph as `authorization_code`s are url specific and not registered app specific. In the app I'm working on right now, I'm using the `id_token` to access my API, so that's what I was thinking about.

Although you are basically using the same `id_token` for both (but exchange it separately

[2018-08-07 14:47] JayShower opened #17 "Default port did not work, seemed to cause sign in to fail"
Expected behavior: sample should work using the default port listed in the readme (44334)

Actual behavior: sample loads the home page, and upon entering my email to sign in, I am redirected to this url: "https://login.microsoftonline.com/login.srf". It seems like something is trying to be loaded, but it eventually stops. If I reenter that url, I am taken to the page "https://www.office.com/?auth=

[2018-08-08 13:20] mark-szabo commented on #16
@hernan-almeida were your question answered and can I close the issue, or can I help you furthermore somehow?

[2018-08-14 04:02] marcoforce opened #18 "AADSTS70001: Application with identifier 'my client id' was not found in the directory e0793d39-0939-496d-b129-198edd916fe"
What's the cause of this error? It seems the tenant ID points to production. I already manually set the tenant ID in application settings and via azure.

[2018-08-14 05:50] Sharor opened #19 "Has this been outdated by "AddMicrosoftAccount" in the auth pipeline?"
I came upon this https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-2.1&tabs=aspnetcore2x

According to the docs it allows you to sign in with either work, personal or school microsoft account 🙂

I assume the "AzureAD" and custom Auth builder can be setup through this in a more general way or is there something I'm missing? 😉

[2018-08-14 11:52] pekspro opened #20 "User must sign in again after on hour"
When running this sample, it looks like the user must sign in once per hour (maybe after hour of inactivity). I know that the Azure authentication token expires after one hour, so I guess that is related.

Is there some easy way to fix this? If I create a new application with Azure sign in the user is signed in a lot longer by default.

I have upgraded this sample to use Asp.Net Core 2.1, and I th

[2018-08-14 21:18] #16 closed

[2018-08-14 21:32] mark-szabo commented on #20
Hi @pekspro,
So basically you cannot alter AzureAD's authentication settings, so you have no choice but to redirect the user to the login page after the token has expired.
With ADAL (Azure Authentication Library - v1) after this redirect the token was given without promting the user if the user was still signed in. With MSAL (Microsoft Authentication Library - v2) the user needs to choose the acco

[2018-08-14 21:49] mark-szabo commented on #19
As far as I see this works with personal Microsoft Accounts only and not with work or school accounts. After a short scan, my understanding is that this library was created to have an easy way to integrate Microsoft account login when using other social identity providers (Facebook, Google). So if you are using AzureAD login and no other identity provider, I'd stick with the normal MSAL implementa

[2018-08-15 07:14] Sharor commented on #19
Thank you @mark-szabo, that's what I figured but I could not see through it 😉

Also your example here has served me very well for a couple of months, good stuff!

[2018-08-15 07:14] #19 closed

[2018-08-15 09:02] mark-szabo commented on #19
I'm glad I was able to help! :)

[2018-08-15 17:42] KalyanChanumolu-MSFT commented on #20
The Access token expires every 60 minutes. This is the default behavior.
It was supposed to be made [configurable ](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes) but that feature is going away in favor of [Azure Active Directory Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview)

[2018-08-16 10:32] pekspro commented on #20
Thanks for all answers :-)

I tried to use login hint as suggested in #8. But I was still forced to select my account.

So instead I created an iframe on a page where the embedded page (with the [Authorize] attribute) was reloaded every minute. This seemed to keep the authentication alive. That’s a pretty good solution.

I also tried to do the solution suggested on: http://www.cloudidentity.com/bl

[2018-08-19 19:03] ZeroPKI opened #21 "Issues integrating into existing Core project"
Not sure if this is the right way to ask for help, but I could use a hand.

I have a project located at https://github.com/ZeroPKI/OAuthGateway where I have a fork of this project up and running, and a second project running .NET Core 2.1.

Anytime MSAL returns the authentication it results in error. Live demo here:
https://us-sw-zeropki-oauthgateway.azurewebsites.net/

I've compared each project

[2018-08-19 19:04] TruthWithLove commented on #21
Also guidance on how to trap and log the errors is ideal.  (how would I handle tracing this in production?)

[2018-08-20 20:26] mark-szabo commented on #21
Hi @ZeroPKI
It would be great to have the logs from the app. On localhost you can check the logs in VisualStudio. In a published app on Azure you can use the [Diagnostic logs](https://docs.microsoft.com/en-us/azure/app-service/web-sites-enable-diagnostic-log) feature of Web Apps. To check what the tokens are doing between login.microsoftonline.com and your app, you can use [fiddler](https://www.te

[2018-08-20 20:28] mark-szabo commented on #20
The iframe solution is used for example by ADAL.js as well, so that should work. Were you able to solve the problem with the first solution you mentioned?

[2018-08-20 20:32] mark-szabo commented on #18
You need to replace `'my client id'` with the app id you got when registering your app on the Azure portal (v1/ADAL) or on https://apps.dev.microsoft.com (v2/MSAL).

[2018-08-22 05:22] pekspro commented on #20
I think the iframe-solution works good enough so I’m closing this issue. Thanks for the support :-)

[2018-08-22 05:34] pekspro commented on #21
I have been able to update this project to .NET Core 2.1 so it is possible. If I compare my update with the 2.0 version I see one difference in StartUp.ConfigureServices. The 2.0 code looks like this:

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddAuthentication(sharedOptions =>
            {
                sharedOptions.DefaultAuthenticateSc

[2018-08-22 06:17] mark-szabo commented on #21
@pekspro pull requests are welcomed! 😉

[2018-08-22 17:28] pekspro commented on #21
@mark-szabo, OK :-) I created PR #22

[2018-08-25 14:28] TruthWithLove commented on #21
Worked for me, thanks @pekspro !

[2018-08-25 14:28] #21 closed

[2018-08-27 16:38] jthake commented on #17
Did you follow the steps to create an app registration? It appears you didn't put the reply url in correctly... This repo is actually used to generate the ASP.NET quick start found here https://developer.microsoft.com/en-us/graph/quick-start

[2018-08-27 17:05] #18 closed

[2018-08-29 03:16] marcoforce commented on #18
I also replaced 'my client id' with the app id that I got when I register the app on our azure portal. Still the same error.

[2018-08-29 15:38] jthake commented on #18
This sample is actually what the ASP.NET MVC quick start uses and injects a working app id and secret into it. I would recommend using this first and get that working https://developer.microsoft.com/en-us/graph/quick-start

This will eliminate any issues with the way you've registered your app.

[2018-08-31 01:12] marcoforce commented on #18
It seems that I created a quick start solution for .net framework (when I select ASP.NET MVC) but what I need is .Net Core 2.0, are there any steps that I missed/need to take?

[2018-09-01 18:16] jayschauer commented on #17
Thanks for following up with this issue, but I can't actually follow up on it anymore because I don't have access to the code anymore.

[2018-09-04 03:38] marcoforce opened #23 "AADSTS90130: Application '{application id}' (aad name) is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific endpoint."
I have been using the .Net Core 2.0 sample which uses the Azure AD endpoint, so that we registered using our company Azure Portal.

I have already set the client id, base URL, reply url, tenant id in my appsettings. Is there any work around or fix for this issue?

https://github.com/microsoftgraph/aspnetcore-connect-sample/tree/netcore1.1

[2018-09-04 06:01] mark-szabo commented on #23
Hi @marcoforce
The current version of this sample is using the new endpoint (aka AzureAD v2, aka MSAL). For this new endpoint you need to register your apps on https://apps.dev.microsoft.com and not on the Azure portal. You still can register it with your company email address and give permissions to others.
If there is no technical reason not to use the new endpoint, I would strongly recommend to

[2018-09-04 06:39] marcoforce commented on #23
Hi Mark,

Our apps are currently deployed and authenticated via portal azure. It would be a great help if we can work this out in v1 endpoint because all of our authentication (security) came from the portal azure. I have seen the solution and the steps that uses portal azure as creation of client id.

In this link.
https://github.com/microsoftgraph/aspnetcore-connect-sample/tree/netcore1.1

I not

[2018-09-04 16:33] jthake commented on #17
OK. I will close this then. sorry for slow response on this.

[2018-09-04 16:33] #17 closed

[2018-09-04 17:30] jthake commented on #18
We currently do not have a quick start for.net core 2.0. We do have a sample that shows this though here https://github.com/microsoftgraph/aspnetcore-connect-sample . We have on our backlog to provide a quick start for dotnetcore though. no ETA as yet.

[2018-09-04 17:37] mark-szabo commented on #18
I have an earlier version of this sample in the git tree using aspnetcore2.0 with ADAL. Will link as soon as I'm at a computer.

[2018-09-04 18:46] mark-szabo commented on #18
So here is that earlier version of the sample using ADAL and aspnetcore2.0: https://github.com/microsoftgraph/aspnetcore-connect-sample/tree/6d2fcf63eefe4b61d769e4ce93050de736e0ab44
Please keep in mind that this is not a release, just an in-progress commit, so it is not guaranteed to work out-of-the-box.

[2018-09-04 18:46] mark-szabo commented on #23
Duplicate of #18

[2018-09-04 18:51] mark-szabo commented on #23
Hi @marcoforce
Next time please reopen the issue instead of creating a new one with the same title!

Using MSAL (AzureAD v2) concurrently with ADAL in the same organization causes no problem at all. They should work just fine. You should just use the new app registration portal.

As I said in the other thread, this sample has a not-release version using aspnetcore2.0 and ADAL (AzureAD v1) in the g

[2018-09-04 18:51] #23 closed

[2018-09-05 06:58] marcoforce commented on #23
Hi Mark,

Thanks for your feedback and by sending a sample version and apologies for raising a new issue as I thought that each of the issue are different (AADSTS70001 and AADSTS90130).

As I try to clone the link you sent, I'm still experiencing the same error (just a FYI). Maybe I will wait for a release version or try to investigate/play around in this sample.

[2018-09-05 07:03] mark-szabo commented on #23
What's the value of `Instance` in your `appsettings.json`?

[2018-09-05 07:05] mark-szabo commented on #23
I mean, if it would be a bug in the sample, that would be ok to open a new issue. But for a question, I think it's better for the flow of the conversation / helping others later debugging to keep one question/debugging in one issue.

[2018-09-05 07:20] marcoforce commented on #23
my value for 'Instance' is **https://login.microsoftonline.com/** which all of our apps are configured in this 'Instance'.

[2018-09-05 07:25] mark-szabo commented on #23
Yeah, that's fine. Then in `Startup.cs` there is `common` hardcoded in the AzureAd config. You need to modify that to your tenant id you want user to be able to log in from.

[2018-09-05 09:05] marcoforce commented on #23
There is no `common` hardcoded in Startup.cs Azuread config. Do you mean AzureAdAuthenticationBuilderExtensions.cs? There is a config `options.Authority = $"{_azureOptions.Instance}common/v2.0";`.

[2018-09-05 09:16] mark-szabo commented on #23
ohh, yeah, sorry! It's in `AzureAdAuthenticationBuilderExtensions.cs` as this is aspnetcore2.0. It was in `Startup.cs` in aspnetcore1.1...

[2018-09-05 09:16] mark-szabo commented on #23
and remove that `v2.0` too!

[2018-09-05 09:21] marcoforce commented on #23
I tried replacing it with `$"{_azureOptions.Instance}{_azureOptions.TenantId}";` the same as configured with our other app but I got 3 errors.

[2018-09-05 09:35] mark-szabo commented on #23
You should replace `.well-known` with your tenant id. You can read your tenant id from the Azure portal.

[2018-09-05 10:40] marcoforce commented on #23
I cant seem to find `.well-known` but I already configured tenant id in appsetting.json

[2018-09-05 11:36] mark-szabo commented on #23
Ohh, sorry, fake news. This is another url, another error. So after a short search: are you using proxy?

[2018-09-05 11:41] mark-szabo commented on #23
Ohh sorry, fake news. That's not that url...
So the thing is that this is loading the AD configs, but it needs a tenant id. So like `https://login.microsoftonline.com/{tenant_id}/.well-known/openid-configuration`. You can use the tenant domain too, like `https://login.microsoftonline.com/microsoft.onmicrosoft.com/.well-known/openid-configuration`. So we need to find where this url is generated and

[2018-09-05 11:45] mark-szabo commented on #23
Can you please try adding the tenentid after the `instance` setting in `appsettings.json` and removing `{_azureOptions.TenantId}` in `AzureAdAuthenticationBuilderExtensions.cs`? Maybe the instance gets picked up by something else and this would solve the issue...

[2018-09-06 02:49] marcoforce commented on #23
Hi Mark,

After applying the steps you mentioned, Sadly, I'm still getting the same error.

[2018-09-14 19:26] andrewleader opened #24 "SetBeforeAccess method doesn't exist"
These two lines need to be updated as they don't seem to exist anymore. https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/963651517128469d2a250917df6985c563e962ef/MicrosoftGraphAspNetCoreConnectSample/Helpers/SessionTokenCache.cs#L31

[code]

Instead, they should be the following based on the latest NuGet package

[code]

[2018-09-14 19:40] andrewleader commented on #24
Seems like this is actually a conflict with the other Microsoft.IdentitySomething library. After switching to Microsoft.Identity.Client, everything worked as expected. Very confusing that there's both of these with the same classes.

[2018-09-19 17:56] jandersonWM opened #25 "Update for MSAL Net 2"
Given the new update to MSAL Net 2 (https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#migrating-from-adalnet-3x-or-4x-to-msalnet-2x), could this example be altered to reflect the changes?

From what I can tell, the only change in this would be changing the body of `GetUserAccessTokenAsync` to use `cca.GetAccountsAsync()` and checking the result for ite

[2018-10-03 08:38] marcoforce opened #26 "Release version for ADAL (Azure AD v1.0)"
Are there any plans for the release Version for ADAL or Azure Endpoint v1.0?

I'm trying to play around in this solution but I'm not making any progress.

[2018-10-03 13:38] mark-szabo commented on #26
HI @marcoforce
There is a non-release version of this sample using aspnetcore2.0 and ADAL. You can reach it here: https://github.com/microsoftgraph/aspnetcore-connect-sample/tree/6d2fcf63eefe4b61d769e4ce93050de736e0ab44

Please keep in mind that I don't guarantee that it will build and run without issues.

[2018-10-04 07:55] marcoforce commented on #26
May I know which codes or files are needed so that we can Integrate Microsoft Graph API to our existing .Net Core 2.0 API? Our main objective is to get the claims when the user login and so that we can use that particular claims to our conditions for authorization. Example: claims = joblevel, we will use the 'joblevel' to create a condition just like `IF joblevel => 8 user is authorized else error

[2018-10-07 22:46] BenjaminAbt commented on #25
I have the same problem.

We have Azure AD User schema extensions and want to read them in a ASP.NET Core API request.
I cannot get a working sample and the latest MSAL package has a huge number of breaking changes.

Any news here?

[2018-10-10 18:54] migueldeicaza opened #27 "This should not encourage people to put their ClientSecret on the appsettings.json file"
Instead this should direct users to add the key to their user secrets, like this:

[code]

[2018-10-10 19:32] mark-szabo commented on #27
You are absolutely right, but that would add one extra step to run the sample. For a newbie this can be one more hard step. And as you can see we remind developers all the times to use certificates instead of secrets in production.

[2018-10-10 19:32] #27 closed

[2018-10-11 05:04] Samywamy10 commented on #14
Hi @mark-szabo , when I challenge the user they get stuck in a loop. I am thinking the authentication thinks the cookies the user has are valid so it is just redirecting them back, but the cookies aren't in the cache so then it challenges the user again etc. Any ideas?

[2018-10-29 18:00] uahgit commented on #25
Having the same issue, I'm not finding any of the MSAL samples working with the latest changes.

[2018-10-30 16:29] mark-szabo commented on #25
Thank you for getting this to our attention! I have updated and tested the sample, it should work. 😊

[2018-10-30 16:29] #25 closed

[2018-10-30 16:41] mark-szabo commented on #24
Hi @andrewleader!
Really sorry for the long delay!

So basically there is two version of the Azure AD Authentication Library: v1 (aka. ADAL) and v2 (aka. MSAL). MSAL is the new one, but it is in public preview only (but suitable for production use). This sample was migrated from ADAL to MSAL about a year ago.

ADAL uses the `Microsoft.IdentityModel.Clients.ActiveDirectory` nuget package and the sy

[2018-10-30 16:41] #24 closed

[2018-10-30 16:51] mark-szabo commented on #21
Merged #22

[2018-11-09 13:42] joelhaslerfhnw opened #28 "Support for signInAudience AzureADMyOrg or AzureADMultipleOrgs"
I have a question! Until know it works for any account (AzureADMultipleOrgs --> common Endpoint). Do you know what need to be changed in the code so that it works? On the registration side I already changed it.

Many thanks for your help
Regards,
Joël

[2018-11-09 16:56] mark-szabo commented on #28
Hi Joel,
I'm really sorry, but I don't quite understand your question. MSAL (AzureAD Authentication Library v2) supports multi-tenant by default. If you want users from one tenant only to be able to log into your app, you can filter users by tenantid after the authentication is successful and you get a token. Therefore you should use the `common` endpoint when using MSAL.

Let me know whether your

[2018-11-14 22:31] JimBobSquarePants opened #29 "Azure AD B2C"
Is there an equivalent solution utilizing Azure AD B2C?

Is it even compatible with Microsoft Graph API?

I'm unable to get tokens generated via my B2C portal to authenticate against the Graph API.

[2018-11-17 06:16] ccit-spence commented on #28
FYI for a single tenant, getting this error:

Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

Not sure yet how to fix it based on this sample.

[2018-12-06 20:22] mprattinger commented on #28
I get the same error as ccit-spence.
Don't know how to fix this

Thanks for any advise
regards Michael

[2018-12-17 08:50] mark-szabo commented on #29
Hi @JimBobSquarePants sorry for not getting back to you earlier! Azure AD B2C works with MSAL only, but this sample is using MSAL, so in theory you should be able to use this sample to get it working. What is the issue you are facing? Do you have an exception message for example?

[2018-12-17 08:55] mark-szabo commented on #29
Moreover have a look on this [sample](https://github.com/AzureADQuickStarts/B2C-GraphAPI-DotNet) and this [docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet) which are describing the ways to use Microsoft Graph with AzureAD B2C.

[2018-12-26 07:38] arshad9160 opened #30 "HttpRequestException: Response status code does not indicate success: 404 (Not Found)"
HI iam trying to use this sample for single tenant app,I have change the authority  also ,but getting this error reponse code doesnot indicate success please help me with this

[2018-12-26 09:38] mark-szabo commented on #30
Hi @arshad9160
Can you please elaborate when and where you are getting this error, what does your appsettings contain, and maybe attach a stack trace?

Thank you and Merry Christmas! 🎄

[2018-12-27 07:01] arshadwhoami commented on #30
Hi @mark-szabo  I resolved the error  there was some code missing .thank you for reply

[2018-12-27 07:08] mark-szabo commented on #30
Thank you @arshad9160 for taking the time to follow up! 😊
Maybe if you could describe what the issue was and what code was missing, you'd be able to help those with the same issue find the solution easier in the future!

[2018-12-27 07:08] #30 closed

[2019-01-05 13:11] mark-szabo commented on #29
Please reopen if you're still facing issues getting Microsoft Graph to work with Azure AD B2C!

[2019-01-05 13:11] #29 closed

[2019-01-11 09:00] ferronsw opened #31 "sessiontokencache 'TokenCache.HasStateChanged' is obsolete"
The sessiontokencache 'TokenCache.HasStateChanged' is obsolete. Please update the sample.
Used in the SessionTokenCache class ofc.

[2019-02-05 20:30] RayGHeld opened #32 "Need example for using a certificate to authenticate"
I need an example of how to authenticate using a certificate in this project please.

[2019-02-06 17:30] mark-szabo commented on #32
Hi @RayGHeld, can you please check this sample? https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-certificate-credential

Let me know whether you were able to implement certificate auth based on these samples!

[2019-02-06 21:34] dmundra opened #33 "User.Identity.Name returning full name instead of email and photo returning 'ResourceNotFound'"
Hi,

When I try the application for 'User.Identity.Name' I get full name instead of email. So I changed the ger users's email line to

`email = email ?? User.FindFirst(Startup.UpnType)?.Value;`

where
`public const string UpnType = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn";`

For GetPictureStream in the first catch I was getting Request_ResourceNotFound but nothing would happen s

[2019-02-18 12:39] teocomi opened #34 "Unable to get user photo"
Hello,

I'm unable to get the user photo. I get the following error:

[code]

Stack Tracke:

[code]

Getting the user profile works fine.

Cheers

[2019-02-19 15:24] Simosa21 opened #35 "Configuring for single tenant"
I've been trying to configure the sample for a single tenant but I'm hitting a brick wall. If I go into App Registration (Preview) - Authentication, under Supported account types, when I register the application following the guidelines its allowing users in any organization and doesn't show the option to configure for single organization. It advises editing the manifest, but after attempting this

[2019-02-19 23:35] mark-szabo commented on #35
Hi @Simosa21,
I don't think you can restrict users by tenat in the manifest file. Check [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest)!

You can always add a validation of the token issuer in your authentication flow. Just edit [here](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/5fb69a8803854cb42dd8eefbcdbb12d5b840c8d3/MicrosoftGr

[2019-02-19 23:37] mark-szabo commented on #32
Please reopen the issue if you need more information!

[2019-02-19 23:37] #32 closed

[2019-02-21 09:28] Simosa21 commented on #35
That works, thank you very much.

[2019-02-21 09:28] #35 closed

[2019-03-29 14:20] tgallatin opened #37 "Access denied when trying to get mail messages"
I'm able to get the profile information just fine from the sample. I'm adding code to get messages from the inbox. When I do the following:

`var mailResults = await graphClient.Me.MailFolders.Inbox.Messages.Request()`

I get access denied like so:

ServiceException: Code: ErrorAccessDenied
Message: Access is denied. Check credentials and try again.

If it's already authenticated, why am I getting

[2019-03-29 23:09] mark-szabo commented on #37
Hey @tgallatin, have you added `Mail.Read` to the scopes? You need to request access to specific resources when getting the token.
https://docs.microsoft.com/en-us/graph/permissions-reference#mail-permissions

[2019-04-01 15:09] tgallatin commented on #37
Great. That was the issue. Easy fix. Thanks!

[2019-04-01 15:09] #37 closed

[2019-05-10 14:05] zulander1 opened #42 "ConfidentialClientApplication.AcquireTokenForClientAsync(IEnumerable<string>)' is obsolete"
Error	CS0619	'ConfidentialClientApplication.AcquireTokenForClientAsync(IEnumerable<string>)' is obsolete: 'Use AcquireTokenForClient instead. See https://aka.ms/msal-net-3-breaking-changes'	Kalisto	C:\Users\NS-X\source\repos\LexisMedia\kalisto\Helper\SyncMailBoxHelper.cs	261	Active

This line is obsolete
https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/d65b84f659b31e6600d67ca7e0821

[2019-05-10 14:25] zulander1 commented on #42
Should be

`var result = await _app.AcquireTokenForClient(_scopes).ExecuteAsync();
`

[2019-05-13 02:59] anurajrajagopal opened #43 "Authentication success, but after redirect to site Getting the error page - Azure app service"
Hi All,
After authentication, the site is redirecting to error page. May i know what could be the cause. all the settings were made as per your guide.

Error.
An error occurred while processing your request.
Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

Development environment should not be enabled in deployed applicatio

[2019-05-13 05:31] #43 closed

[2019-05-13 05:33] anurajrajagopal commented on #43
Able to fix the issue. the URL pointing to tenantid/v2.0 , now I changed to common/v2.0 and now working fine.
But facing another problem not getting profile photo?

Error:
Code: ErrorAccessDenied
Message: Access to OData is disabled.

Inner error

Thanks,
Anuraj Rajagopal

[2019-05-13 05:38] anurajrajagopal opened #44 "The profile picture is not loading and getting access denied error."
Hi Team,

Able to read the user profile details. But the profile picture is not loading and getting below
exception. Have set the readbasic and read properties as well.

Code: ErrorAccessDenied
Message: Access to OData is disabled.

Please help to figure it out.

Thanks,
Anuraj Rajagopal

[2019-05-28 14:48] rajat28negi opened #45 "User not found in token cache"
Getting the null in
 var account = await _app.GetAccountAsync(userId);
How i will get the account value  and How to store token in cache?

[2019-06-05 20:16] mark-szabo commented on #45
Yes this can happen when you are running the app locally, open the website, log in, then shut down the debugging, restart it (for example after some code changes). So when you restart the app, it clears the server token cache, but your cookie is the same on the frontend. So after restart, the cookie is still authenticated but the user is missing from the token cache.

I hope I could help! 😊

[2019-06-05 20:17] mark-szabo commented on #44
Which version of the graph API are you using? v1.0 or beta? What kind of account are you using to sign in? Personal, or Work or school account?

[2019-06-05 20:18] mark-szabo commented on #42
Fixed in pull request #41. Thanks for reporting! 👍

[2019-06-05 20:18] #42 closed

[2019-06-05 20:40] mark-szabo commented on #33
Hi @dmundra, sorry for the very late response!

1. `User.Identity.Name` contains the username which is not always the email address.

2. Getting user's profile picture is only partially supported with the v1.0 endpoint:

https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0

[2019-06-05 20:40] #33 closed

[2019-06-05 20:41] mark-szabo commented on #34
Sorry for the late response!
Which version of the graph API are you using? v1.0 or beta? What kind of account are you using to sign in? Personal, or Work or school account?

[2019-06-05 20:43] mark-szabo commented on #31
With MSAL 3 we aren't using the SessionTokenCache anymore (it is included in MSAL), so I'll close this issue. Thanks for reporting!

[2019-06-05 20:43] #31 closed

[2019-06-05 20:43] mark-szabo commented on #43
Which version of the graph API are you using? v1.0 or beta? What kind of account are you using to sign in? Personal, or Work or school account?

[2019-06-05 20:46] mark-szabo commented on #28
If you are creating the AD app in the Azure portal, click the switch to make the app multi-tenant.

[2019-06-05 20:46] #28 closed

[2019-06-06 11:24] teocomi commented on #34
Hello, yes it's v1 with a work account.
I just tried again and now get more explicative error message:

{
    "error": {
        "code": "ErrorItemNotFound",
        "message": "The photo wasn't found. REST APIs for this mailbox are currently in preview. You can find more information about the preview REST APIs at https://dev.outlook.com/.",
        "innerError": {
            "request-id": "54ec1

[2019-06-06 17:14] mark-szabo commented on #34
Hmm, strange. Are you sure the user has a picture set up? I mean, if you go to portal.office.com for example, do you see the image on the top right?

[2019-06-06 19:47] teocomi commented on #34
Hey, that was it! I'm pretty sure when I first opened I had also checked with accounts that had a picture set... But anyways, it's working now :)
Thanks!

[2019-06-06 19:47] #34 closed

[2019-06-13 14:55] colbroth commented on #45
I am having the same issue. Getting null in this call:
var account = await _app.GetAccountAsync(userId);
I issued var accounts = await _app.GetAccountsAsync() and there is one entry with key
{a unique id, not sure how derived?}.{this value matches claims type identityprovider}
But the example indicates userId is {claims type objectidentifier}.{tenantid}

I am using a different authority than the e

[2019-06-14 17:34] TCrosmanDSI opened #46 "Supported account types issue"
Where do i set supported account types?  It's not an option when registering the application in Azure, and I don't see it in the manifest.

I can only get this example to run if i select "Accounts in any organizational directory", but I'd like to only allow internal users.

[2019-07-15 13:43] jmprieur commented on #45
@colbroth @mark-szabo
could you please try again. We think we have fixed an issue which was related to cache with guest accounts

[2019-07-23 16:21] jthake-msft opened #47 "Needs updating to MSAL v4.0"
This sample needs updating to MSAL.NET v4.0 from v2.0

[2019-07-29 18:08] colbroth commented on #45
It works! @jmprieur With the update to use Microsoft.Graph version 1.16.0 and Microsoft.Identity.Client version 4.2.1, the call to GetAccountsAsync(userId) is no longer returning null.

[2019-07-29 19:34] colbroth commented on #45
@jmprieur I have the same issue with update

[2019-08-27 18:34] JeffPerrin-AP opened #50 "Application using http vs https"
I have followed the example application and have it working in localhost, when I publish it to my web server I get errors about the redirect_uri not matching.  I am redirecting to https:// but when I inspect the request I see that the library is setting the query string parameters to http.

How can I get the library to only try over https?

Request URL: https://login.microsoftonline.com/common/oau

[2019-08-28 12:42] mark-szabo commented on #50
Hi, have you added the url of the server where you have published your app to the application registration in AAD?

[2019-08-28 12:44] JeffPerrin-AP commented on #50
Yes, its configured, AAD only allows addresses starting with https and the app keeps trying to redirect to http.

[2019-09-09 18:49] pschaeflein commented on #50
The redirectUri is set in the GraphAuthProvider class, which reads it from appsettings.json.
`
	.WithRedirectUri(azureOptions.BaseUrl + azureOptions.CallbackPath)
`

(The value sent in the request should match what is specified in the registration in AAD.)

[2019-11-26 15:16] deepika537 opened #54 "Unable to get access token"
Hello,

I downloaded the aspnetcore-connect-sample and I was successfully connected to Azure active directory but I could not get access token to get user profile and photo. Below function returns "null".

var account = await _app.GetAccountAsync(userId);

Please find my application details.
1. ASP.net core 3.0 mvc web application
2. using Microsoft.Identity.Client (4.3.1)
3. I am using visual stu

[2019-11-26 16:52] mark-szabo commented on #54
Hi @deepika537,
that's absolutely fine that this line returns `null`. It means there is no valid token cached in the TokenCache (eg. you are trying to authenticate after you restarted the application).

This line should get you the token from AD:
https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/8870a81e985825495ddd6078127d1849715e41b6/MicrosoftGraphAspNetCoreConnectSample/Helpers/G

[2019-11-26 17:26] deepika537 commented on #54
Thank you for your quick reply.

The below function also returns "null" because we are passing "account" as a parameter which is null.

 var result = await _app.AcquireTokenSilent(_scopes, account).ExecuteAsync();

[2019-11-26 21:01] mark-szabo commented on #54
Sorry, wrong line linked - my bad.

https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/8870a81e985825495ddd6078127d1849715e41b6/MicrosoftGraphAspNetCoreConnectSample/Helpers/GraphAuthProvider.cs#L69

It will be called after the user authentication against AAD is successful:

https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/8870a81e985825495ddd6078127d1849715e41b6/Micr

[2019-11-26 21:27] deepika537 commented on #54
My application got stuck in the function GetUserAccessTokenAsync() and it never entered the function GetUserAccessTokenByAuthorizationCode() because we call GetUserAccessTokenAsync() function from GraphSDKHelper.cs file at line 33.
-----------------------------------------------------------------------
**Please find my code in GraphSDKHelper.cs file**

 // Get an authenticated Microsoft Graph Serv

[2019-11-27 08:54] mark-szabo commented on #54
- You press the login button.
- You are redirected to AAD to log in.
- After logging in you are redirected back to the app and `OnAuthorizationCodeReceived` is called.
- It will get the access token by the authorization code received:

https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/8870a81e985825495ddd6078127d1849715e41b6/MicrosoftGraphAspNetCoreConnectSample/Extensions/AzureAdAu

[2019-11-27 21:04] deepika537 commented on #54
In My application, After clicking on login button, the value of "User.Identity.IsAuthenticated" is true and it entered in to the if loop and called the function (_graphSdkHelper.GetAuthenticatedClient((ClaimsIdentity)User.Identity); ) and the function throws an error.

After few secs final results says that we could not signIn, Please try again. I only replaced below line with email = email ?? Use

[2019-11-27 21:07] deepika537 commented on #54
New code: email = email ?? User.Identity.Name

[2019-11-27 21:26] mark-szabo commented on #54
Wait a sec. You are telling that you click the login button and you are not redirected to AD and authenticated correctly, but `User.Identity.IsAuthenticated` is true?

[2019-11-27 21:50] deepika537 commented on #54
I entered my credentials and clicked on login button. After successful login I should be able to see my profile and photo instead of that it gave me an error because the applications do not have access token to get my details.

While debugging I came to know that the value of "User.Identity.IsAuthenticated" is true but the value of **var account = await _app.GetAccountAsync(userId);** is null.

I

[2019-11-27 22:02] deepika537 commented on #54
I can see home page without profile details if I use below line in HomeController.cs

email = email ?? User.FindFirst("preferred_username")?.Value;

But If I replace the above line with below line then I can not see home page instead I see below page.

email = email ?? User.Identity.Name

![Screen Shot 2019-11-27 at 3 59 09 PM](https://user-images.githubusercontent.com/11339459/69762266-56771000-1

[2019-12-02 21:21] deepika537 commented on #54
Hello,

Did you understand my problem?

Can you help me?

[2019-12-15 12:40] mark-szabo commented on #54
Have you tried opening it in an incognito window? Maybe something with the cookies is corrupted.

[2020-02-24 14:37] eluchsinger opened #55 "Transient creation of GraphServiceClient"
**Bug description**

Maybe I'm misreading something, but the [GraphSdkHelper](https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/master/MicrosoftGraphAspNetCoreConnectSample/Helpers/GraphSDKHelper.cs) violates the first paragraph of the [documentation](https://docs.microsoft.com/en-us/graph/sdks/create-client?tabs=CS) on how to create a GraphServiceClient.

The documentation states t

[2020-03-03 13:23] dimkoug opened #56 "build failed"
project.assets.json not found

[2020-03-03 20:05] mark-szabo commented on #56
Hi @dimkoug, you'll need to run a `dotnet restore`.

[2020-04-06 08:16] #56 closed

[2020-04-06 08:22] dimkoug opened #58 "Restart IIS in production returns error if user is logged in"
I build an application and use the microsoft graph for login and logout. When a user  is logged in via microsoft graph and in the same time i restart the iis server.If the user refersh the page the token is  invalid and returns an error page.

What steps can i do, so when i restart the iis , the logged in user refreshes the token automatically via the  microsoft graph api

[2020-04-06 10:07] mark-szabo commented on #58
There are two types of tokens in this case: an access token (what you are using to call Graph) and a refresh token. Your tokens are stored in memory (because the tokens get cleared when you restart IIS).
If you clear the token cache (eg. by restarting IIS), you clear the refresh tokens as well, so you won't be able to just refresh the tokens, but will need to do a full re-authentication.
I'd advis

[2020-04-06 13:04] dimkoug commented on #58
Thanks the code  works in the development mode but in production it generates error , i suspect  iis dosen't have read/write permissions to create the bin3 file.

        public GraphAuthProvider(IConfiguration configuration)
        {
            var azureOptions = new AzureAdOptions();
            configuration.Bind("AzureAd", azureOptions);

            // More info about MSAL Client Applicatio

[2020-04-06 14:24] dimkoug commented on #58
based on tha answer https://stackoverflow.com/a/53054375/924300  i fixed it , thanks a lot for the code, it works !!!!

[2020-04-06 14:24] #58 closed

[2020-04-10 09:45] maszeq opened #59 "After signin in to AAD - Exception: Correlation failed."
Hi,
I've followed the sample, when I run the IIS on localhost and click Sign In then go through the authentication process I end up with:

An unhandled exception occurred while processing the request.

Exception: Correlation failed.
Unknown location

Exception: An error was encountered while handling the remote login.
Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler<TOptions>.Handle

[2020-05-13 16:52] toddheckel opened #60 "Code is not usable in a deployed web app."
The approach used in this sample is not feasible in a production environment with a deployed service. The redirect url is formed from a hard-coded base url ("https://localhost") in appsettings.json, which is not practical of course.

According to the MSAL [docs ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-with-authorization-codes-on-web-apps) the r

[2020-05-13 18:01] mark-szabo commented on #60
Thanks @toddheckel! I'll migrate to .NET Core 3.1 and refactor this sample in about two weeks time. Will keep this issue updated! 🙂

[2020-05-13 18:05] mark-szabo commented on #59
Thanks @maszeq for the report! I'll migrate to .NET Core 3.1 and refactor this sample in about two weeks time and will try to repro this issue as well. 🙂

[2020-05-13 18:10] mark-szabo commented on #55
Thanks @eluchsinger! I'll migrate to .NET Core 3.1 and refactor this sample in about two weeks time. and will have a look on this. Will keep this issue updated! 🙂

[2020-05-13 18:10] #54 closed

[2020-05-13 18:12] #50 closed

[2020-05-13 18:20] toddheckel commented on #60
Thanks Mark. I was able to update the sample to 3.1 myself and I'm happy to contribute if that would be helpful.

[2020-05-13 18:31] toddheckel commented on #60
Also in my service, which I'm updating from Microsoft.AspNetCore.Authentication.MicrosoftAccount, I moved the call to ConfidentialClientApplicationBuilder.Create into the OnAuthorizationCodeReceived callback and set options.Authorization to $"{Instance}/{TenantId}/v2.0/" which seems to work when deployed to Azure.

[2020-05-13 19:03] toddheckel commented on #60
Actually, to get this to work in a multi-tenant setup (supporting work and personal accounts) it was necessary to set the authority to $"{Instance}/common/v2.0/".

[2020-05-14 19:58] mark-szabo commented on #60
Contributions are always welcome! 😉

[2020-05-18 15:37] kedar-githit opened #61 "Release version for production env"
Hey, this sample you created is fantastic. I am developing something similar to this. I tried your sample app too. Can you please suggest me what alteration I must do to deploy this sample on production environment?
It would be really helpful.
Thankyou in advance.

[2020-05-19 11:18] mark-szabo commented on #61
If you just want to deploy the sample in a prod env, you don't need to do anything. You can publish into an Azure App Service from VS for example.
If you want to integrate Microsoft Graph into your solution, you'll need to do something similar to this sample, but the code here should be prod ready.
Please keep in mind, that we are upgrading this sample right now, you should be able to see improvem

[2020-05-19 16:45] kedar-githit commented on #61
Actually I am developing a single sign on functionality with AzureAD, I was
able to create it successfully but later on I encountered 'The Owin bug' in
the authentication lib used and MS themselves suggested to avoid using ADAL
library(which I have used in my app) So I was looking with the MSAL
approach and found your sample. And now I am trying to deploy it on
production server and if it works ou

[2020-05-20 10:42] mark-szabo commented on #61
Great, so you are actually having success using the sample. Glad to hear that! 😊
Do you have any specific question we can help you with or can I close this ticket?

[2020-06-15 03:30] anujabhojani commented on #45
@jmprieur  After update, I have the same issue with guest account.

[2020-06-15 12:47] anujabhojani opened #62 "Single tenant - Guest Account login error - Null Token"
1. Updated the GraphAuthProvider.cs for supporting single tenant.
 _app = ConfidentialClientApplicationBuilder.Create(azureOptions.ClientId)
                    .WithClientSecret(azureOptions.ClientSecret)
                    .WithTenantId(azureOptions.TenantId)
                    .WithAuthority(AzureCloudInstance.AzurePublic, AadAuthorityAudience.AzureAdMyOrg)
                    .WithRedirectUr

[2020-07-13 16:11] #47 closed

[2020-07-13 16:11] #55 closed

[2020-07-13 16:15] mark-szabo commented on #55
There's a bit of latency, but hopefully my comment will help others later.

So the story here is, that you need to get new tokens for every request as the webserver has no idea which user is actually sending the request. So imagine a situation where user A and B are both using the webapp simultaneously. If A signs in first and we store the authenticated Graph client, when B tries to request some d

[2020-07-16 07:56] mark-szabo commented on #59
Hia @maszeq the migration has been completed, the authentication libraries upgraded. I wasn't able to repro the aforementioned issue. Can you please re-check and in case the problem still persist, provide mw with more information (what kind of account did you use to log in, etc)?

[2020-07-16 08:25] mark-szabo commented on #60
Hi @toddheckel, finally I had the time for the migration. As far as I see, there are two different things you mentioned: redirect url and authority. Redirect url is the absolute uri on your webapp where the user will get back from AAD after authentication. Authority is the host of the AAD endpoint (most likely `login.microsoftonline.com`).

Getting the base url of your running app to construct you

[2020-07-16 08:28] #61 closed

[2020-07-16 12:09] mark-szabo commented on #62
I was able to repro the issue. The problem is, that the guest user's token is cached, but the identifier consists of the guest user's original oid and tenant id. In contrast, when we are getting the account, we are trying to do that with the guest tenant's tenant id and the guest oid of the guest user (users get new oids when they join an external AD). And that's why `account` is null.

@jmprieur

[2020-07-16 12:10] mark-szabo commented on #45
Same as #62.

[2020-07-16 12:10] #45 closed

[2020-07-16 12:11] #44 closed

[2020-07-16 14:11] mark-szabo commented on #46
You need to set this when you register the application on the Azure portal:
![image](https://user-images.githubusercontent.com/3098994/87680901-45dadf00-c77e-11ea-8f95-f45706277c90.png)

As well when you create the `ConfidentialClientApplication`.
`.WithAuthority()'`s second parameter has 4 options:

- **`AzureAdMyOrg`** Users with a Microsoft work or school account in my organization’s Azure AD t

[2020-07-16 14:11] #46 closed

[2020-07-20 07:44] #60 closed

[2020-07-20 07:44] #59 closed

[2020-09-29 00:51] sameer-kumar opened #64 "Retrieve user groups in Startup.cs"
**Bug description**
A clear and concise description of what the bug is.

**Repro steps**
I'm trying to modify the your sample to pull user group membership in Startup.cs class file so that I can add user groups as claims. But I could not make it to work. Is it something not possible or I'm doing something wrong? Can you please help me with sample code or pointers?
Thank you!

**Expected behavior**

[2020-12-21 21:59] hgjura opened #65 "Error when running application (single-tenant vs multi-tenant)"
I run this app after filling in the details as instructed. I get this error after trying to Login

OpenIdConnectProtocolException: Message contains error: 'invalid_request', error_description: 'AADSTS50194: Application '{id}'({name} is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific

[2022-10-19 20:46] microsoft-github-policy-service[bot] opened #68 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 20:06] #68 closed